RSS to Slack Automation with n8n.json
{
  "name": "new",
  "nodes": [
    {
      "parameters": {
        "url": "=https://rss.app/feeds/tWf8gA5Ui8XWCXD1.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        144,
        0
      ],
      "id": "99b1967f-87ce-4817-a94e-4fc7096a6a47",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -32,
        0
      ],
      "id": "41b2e59c-14e8-43aa-a1e1-4f303d70d70c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/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",
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        752,
        0
      ],
      "id": "6fc79d5e-f119-451a-912d-31c523e9ac18",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "link",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        352,
        0
      ],
      "id": "ec27fdda-872e-4b93-94b3-3b5127a18895",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nreturn [{\n  json: {\n    blocks: [\n      {\n        type: \"section\",\n        text: {\n          type: \"mrkdwn\",\n          text: `*<${item.link}|${item.title}>*\\n${(item.contentSnippet || \"\").slice(0, 200)}...`\n        }\n      },\n      {\n        type: \"context\",\n        elements: [\n          {\n            type: \"mrkdwn\",\n            text: `📅 ${item.pubDate}`\n          }\n        ]\n      }\n    ]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "id": "9031c1cd-3701-47aa-9ae2-c6f47a51135d",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "67bf9a31-738b-4d68-aab2-4cc5378e37b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "54b10683fda4483b49b3dcf2a8c7a7a1479f94f42d8e8b62e5eb8d946551b3af"
  },
  "id": "pP8wEcOCtnjjCH3j6Ktc9",
  "tags": []
}
